version: '3.4'
services:
  btcpayserver:
    image: btcpayserver/serverimage:1.13.1
    restart: unless-stopped
    environment:
      BTCPAY_HOST: "btcpay-final.onrender.com"
      LMDBMAPSIZE: 1342177280
      NBITCOIN_NETWORK: "testnet"
      BTCPAYGEN_CRYPTO1: "btc"
      BTCPAYGEN_ADDITIONAL_FRAGMENTS: "opt-save-storage;nginx;clightning"
      BTCPAYGEN_REVERSEPROXY: "nginx"
      BTCPAYGEN_LIGHTNING: "clightning"
      LEDGERSERVICE_URL: "http://btcpayserver:49391"
      LEDGERSERVICE_TOKEN: "testnet"
      BTCPAY_DB_CONNECTION_STRING: "Server=btcpayserver;Database=btcpay;User Id=btcpay;Password=btcpay;"
      BTCPAY_NETWORK: "testnet"
      BTCPAYGEN_EXCLUDEFRAGMENTS: "clightning-tls"
    volumes:
      - btcpayserver_datadir:/var/lib/docker/btcpayserver
      - clightning_datadir:/root/.lightning
    ports:
      - "80:80"
      - "443:443"
    networks:
      - btcpay
  nginx:
    image: nginx:1.21
    restart: unless-stopped
    volumes:
      - nginx_datadir:/etc/nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - btcpay
volumes:
  btcpayserver_datadir:
  clightning_datadir:
  nginx_datadir:
networks:
  btcpay: